<div class="container">   
        
    <h2>Here are the dojo quotes!</h2>           
    
    <div class="quotebox">
        @foreach(var user in @ViewBag.AllUsers){
            <div class="quotebox" style"margin-top: 30px;">
                "@user["quote"]"<br>
            --@user["name"] @user["created_at"]
            </div> 
        
        }
    </div>
    
</div> <!-- container end -->